
@model IEnumerable<MVC_CRUD_DI_Entity.Models.Employee>


@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<h2></h2>
</body>
</html>

